
body{
    background-color : #ececec;
    background-image:url('/images/listPagebg.jpg');
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
div[class*="col-"].not_done{
    background-color : #C0FFF4;
    border : 2px solid black;
    border-radius : 3px;
}
div[class*="col-"].done{
    background-color : green;
    border : 2px solid black;
    border-radius : 3px;
}
.checkboxSize{
    width: 20px;
    height: 20px;
}

